{% extends 'base.html' %}
{% block content%}
        <div class="slider">
            <div class="item">
                <h1>Infosys</h1>
                <img src="https://abhishekshub.files.wordpress.com/2023/03/1-36b51933-f180-4392-ba44-f8ba22ef8a05_page-0001.jpg?w=1400&h=" width=200px height=250px>
            </div>
            <div class="item">
                <h1>Google</h1>
                <img src="https://abhishekshub.files.wordpress.com/2023/12/coursera-s9sdsnd7na63_page-0001.jpg?w=1024" width=200px height=250px>
            </div>
            <div class="item">
                <h1>RCPL</h1>
                <img src="https://abhishekshub.files.wordpress.com/2023/12/abhishek-kumar-1_page-0001.jpg?w=1024" width=200px height=250px>
            </div>
            <div class="item ">
                <h1>IIT Kanpur</h1>
                <img src="https://abhishekshub.files.wordpress.com/2023/09/screenshot-2023-09-07-111116.png" width=200px height=250px>
            </div>
            <div class="item ">
                <h1>Microsoft</h1>
                <img src="https://abhishekshub.files.wordpress.com/2023/12/abhishek-kumar_page-0001.jpg?w=1024" width=200px height=250px>
            </div>
            <div class="item ">
                <h1>Cisco</h1>
                <img src="https://abhishekshub.files.wordpress.com/2023/12/introduction_to_cybersecurity_badge20231231-31-jc96gm_page-0001.jpg?w=1024" width=200px height=250px>
            </div>
            <div class="item ">
                <h1>Cisco</h1>
                <img src="https://abhishekshub.files.wordpress.com/2024/01/ethical_hacker_badge20240101-31-k3w0g6_page-0001.jpg?w=1024" width=200px height=250px>
            </div>
            <div class="item ">
                <h1>ISRO</h1>
                <img src="https://abhishekshub.files.wordpress.com/2024/01/photo_2024-01-26_11-47-40.jpg?w=1024" width=200px height=250px>
            </div>
            <div class="item ">
                <h1>GDSC</h1>
                <img src="https://static.wixstatic.com/media/c40c9e_b5814a73cfcd4b588f90f99686b0fd1f~mv2.png/v1/fit/w_776,h_531,q_90/c40c9e_b5814a73cfcd4b588f90f99686b0fd1f~mv2.webp" width=200px height=250px>
            </div>
            <button id="next">></button>
            <button id="prev"><</button>
        </div>
        <script src="/static/js/app.js"></script>
        
{% endblock %}
